{% extends 'base.html' %}
{% block title %}
  YOUR CART
{% endblock %}
{% block main %}
{% load custom_filters %}
<div class="w-full my-10 flex flex-col gap-2" id="our_products">
    <div class="border-l-4 border-green-400 pl-4 text-3xl">Your Cart</div>

    <div class="w-full flex md:flex-row flex-col gap-4 my-4">

        <div id="cart_items_container"  class="md:w-7/12">
            {% for cart_item in cart_items  %}
                <div class="flex gap-4 p-2 cart_item items-center">
                    <a href="{%url 'single_product'  slug=cart_item.product.slug id=cart_item.product.id%}" class="w-1/4 max-w-[300px] min-w-[130px]">
                        <img src="{{cart_item.product.image.url}}" class="w-full" style="aspect-ratio: 1/1;" alt="">
                    </a>
                    <div class="flex flex-col w-full gap-2">
                        <div class="flex justify-between">
                            <p>{{cart_item.product.product_title}}</p>
                            <button onclick="delete_item_from_cart({{cart_item.id}},'{%url "single_product"  slug=cart_item.product.slug id=cart_item.product.id%}')" class="md:mr-10 text-xl text-red-500 hover:scale-110 hover:bg-red-100 px-2 rounded py-1 duration-200" >
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                        <p>Rs: {{cart_item.product.price|floatformat:2}}</p>
                        <div class="flex w-full md:gap-10 md:justify-start justify-between">
                            <span>Quantity :&nbsp;<span id="{{cart_item.product.id}}" >{{cart_item.qty}}</span></span>
                            <span>Rs: {{ cart_item.qty|multiply:cart_item.product.price|floatformat:2 }}</span>
                        </div>
                        <div class="flex gap-4">
                            <button onclick="add_item_to_cart({{cart_item.product.id}},1,'{%url "single_product"  slug=cart_item.product.slug id=cart_item.product.id%}')" class="text-3xl text-green-500"><i class="fa-solid fa-square-plus"></i></button>
                            <button  onclick="remove_item_from_cart({{cart_item.product.id}},1,'{%url "single_product"  slug=cart_item.product.slug id=cart_item.product.id%}')" class="text-3xl text-red-500"><i class="fa-solid fa-square-minus"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="md:w-5/12">
            <div class="border-l-4 border-green-400 pl-4 text-3xl">Cart Summary</div>
            <div class="flex gap-4 flex-col mt-10 ml-4">
                <p class="text-2xl">Total Amount : Rs <span id="cart_amount">{{cart_amount}}</span> </p>
            </div>
        </div>
    </div>
  </div>

  <script>
    function delete_item_from_cart(cart_item_id,single_product_url){
        console.log('in dlt',single_product_url)
        let url = "{%url 'delete_item_from_cart' 1 %}"
        url = url.split('/')
        url = url.slice(0,-1).join('/')
        url += `/${cart_item_id}`
        console.log(url)
        fetch(url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            console.log(data)
            toastr.success("Item Deleted From Cart");
            const cart_item_count = document.getElementById('cart_item_count')
            cart_item_count.innerHTML = data.total_qty
                const cart_items_container = document.getElementById('cart_items_container')
                const cart_amount = document.getElementById('cart_amount')
                cart_amount.innerText = data.cart_amount
                let = items = generate_updated_cart_items(data, items = '',single_product_url)

                cart_items_container.innerHTML = items
        })
    }

  </script>
{% endblock %}
