{% extends 'base.html' %}
{% block title %}HOME{% endblock title %}
{% block main %}


<div class="w-full mt-5 flex md:flex-row gap-2 flex-col-reverse">
    <div class="md:w-5/12 flex flex-col justify-center gap-4">
            <p class="text-4xl">DJANGO ECOM</p>
            <div class="text-green-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla architecto placeat sapiente ducimus magnam. Minus porro voluptatem hic explicabo at?</div>
            <a href="#our_products" class="px-4 py-2 rounded w-fit text-2xl text-gray-100 hover:text-white bg-green-400">Get Started</a>
    </div>
    <div class="md:w-7/12">
        {% include 'components/carousel.html' %}
    </div>
</div>

<div class="w-full my-10 flex flex-col gap-2" id="our_products">
    <div class="border-l-4 border-green-400 pl-4 text-3xl">Our Products</div>


    {% for cat , pro in products.items  %}
    
        <div class="flex p-4 flex-col">
            <div class="text-2xl">MOST SELLING {{cat|upper}}</div>
            <div class="w-full grid lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-4 my-4">
                {% for p in pro  %}
                
                    <div class="product_card p-2 flex gap-1 flex-col border border-gray-300 hover:shadow-lg rounded-md hover:scale-105 duration-200">
                        <a href="" class="">
                            <img src="{{p.image.url}}" class="w-full" style="aspect-ratio: 4/3;" alt="">
                        </a>
                        <p class="text-lg">{{p.product_title|truncatechars:20}}</p>
                        <div class="flex justify-between">
                            <p class="text-sm text-green-500">Rs: {{p.price|floatformat:2}}</p>
                            <p class="text-sm text-red-500 line-through">Rs: {{p.discount_price|floatformat:2}}</p>
                        </div>
                        <div class="flex justify-between text-2xl px-2">
                            <a href="" class=""><i class="fa-solid fa-cart-plus hover:bg-green-400 p-2 rounded-md duration-200"></i></a>
                            <a href="" class=""><i class="fa-solid fa-heart text-red-500 hover:bg-green-400 p-2 rounded-md duration-200"></i></a>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>


{% endblock main %}