{% extends 'base.html' %}
{% block title %}HOME{% endblock title %}
{% block main %}


<div class="w-full mt-5 flex md:flex-row gap-2 flex-col-reverse">
    <div class="md:w-5/12 flex flex-col justify-center gap-4">
            <p class="text-4xl">DJANGO ECOM</p>
            <div class="text-green-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla architecto placeat sapiente ducimus magnam. Minus porro voluptatem hic explicabo at?</div>
            <a href="#our_products" class="px-4 py-2 rounded w-fit text-2xl text-gray-100 hover:text-white bg-green-400">Get Started</a>
    </div>
    <div class="md:w-7/12">
        {% include 'components/carousel.html' %}
    </div>
</div>

<div class="w-full my-10 flex flex-col gap-2" id="our_products">
    <div class="border-l-4 border-green-400 pl-4 text-3xl">Our Products</div>

    <div class="flex p-4 flex-col">
        <div class="text-2xl">MOST SELLING SMART PHONES</div>
        <div class="w-full grid lg:grid-cols-6 md:grid-cols-4 gap-y-4 sm:grid-cols-2 gap-2 my-4">
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
        </div>
    </div>

    <div class="flex p-4 flex-col">
        <div class="text-2xl">MOST SELLING SMART WATCHES</div>
        <div class="w-full grid lg:grid-cols-6 md:grid-cols-4 gap-y-4 sm:grid-cols-2 gap-2 my-4">
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
            <a href="" class="product_card p-2 flex gap-1 flex-col border border-gray-400 rounded-md">
                <img src="https://picsum.photos/id/32/100/100" class="w-full object-contain" style="aspect-ratio: 4/3;" alt="">
                <p class="text-xl">Product title</p>
                <p class="text-md">Rs. 345</p>
            </a>
        </div>
    </div>

</div>


{% endblock main %}