{% extends 'base.html' %}
{% block title %}
  PRODUCTS
{% endblock %}
{% block main %}
  <div class="w-full my-10 flex flex-col gap-2" id="our_products">
    <div class="border-l-4 border-green-400 pl-4 text-3xl">Our Products</div>

    <div class="w-full grid lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-4 my-4">
      {% for p in data %}
      
        {% include 'components/product_card.html' %}

      {% endfor %}
    </div>
    <div class="w-full flex justify-center gap-4">
        {% if data.has_previous %}
            <a href="?page={{data.previous_page_number}}&category={{cat}}" class="">PREV</a>
        {%else%}
            <p class="text-gray-400" >PREV</p>
        {% endif %}
        {% if data.has_next %}
            <a href="?page={{data.next_page_number}}{%if cat%}&category={{cat}} {%elif search%}&search={{search}} {%endif%}" class="">NEXT</a>
        {%else%}
            <p class="text-gray-400" >NEXT</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
