{% extends 'base.html' %}
{% block title %}
PRODUCT
{% endblock %}
{% block main %}
<div class="w-full my-10 flex md:flex-row flex-col gap-4" id="our_products">
  <div class="md:w-5/12 p-2">
    <div class="">
      <img class="w-full rounded-md border border-slate-300" style="aspect-ratio: 5/6;" src="{{product.image.url}}"
        alt="">
    </div>
  </div>
  <div class="md:w-7/12 p-2 flex gap-4 flex-col">
    <p class="text-3xl">{{product.product_title}}</p>
    <p class="text-md">Ratings : 4/5</p>
    <p class="text-lg">Price : Rs : {{product.price}}</p>
    <p class="text-lg">Discount : Rs : {{product.discount_price}}</p>
    <p class="text-md">Description : {{product.description}}</p>
    <div class="flex md:flex-row flex-col gap-4">
      <a href=""
        class="text-green-500 rounded-md tracking-wide bg-white-400 hover:text-white hover:bg-green-500 duration-200 border-2 w-fit border-green-500 px-4 py-1 text-xl">Add
        to Cart</a>
      <button id="single_product_wishlist" onclick="handle_wishlist('{{product.id}}',1)" class="text-red-500 tracking-wide rounded-md bg-white-400 hover:text-white hover:bg-red-500 duration-200 border-2 w-fit border-red-500 px-4 py-1 text-xl">{%if product.isWishlisted%}Remove From Wishlist{%else%}Add To Wishlist{%endif%}</button>
    </div>
  </div>
</div>

<div class="flex p-4 flex-col">
  <div class="text-2xl">RELATED PRODUCTS</div>
  <div class="w-full grid lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-4 my-4">
    {% for p in related_products %}

    {% include 'components/product_card.html' %}

    {% endfor %}
    <div class="text-6xl product_card p-2 flex-col flex justify-center items-center rounded-md  text-green-500">
      <a href="{%url 'products'%}?category={{product.category.slug}}">
        <i class=" fa-solid fa-angle-right"></i>
      </a>
      <div class="text-3xl">View all</div>
    </div>
  </div>
</div>

{% endblock %}