<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/main.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            scroll-behavior: smooth;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="max-w-screen relative ">
        <div class="w-full sticky top-0 z-10">
            {% include 'components/navbar.html' %}
            <div class="py-2 px-4 bg-slate-300 w-full divide-x-2 flex overflow-auto">
                {% for category in categories  %}
                    <a href="{%url 'products'%}?category={{category.slug}}" class="
                        px-4
                        {% if request.GET.category == category.slug %}
                             text-green-500
                        {% else %}
                             text-orange-500
                        {% endif %}
                    ">{{category.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="container mx-auto mt-10 px-2">
            {% block main %}{% endblock main %}
        </div>
    </div>
</body>

<script>

    function add_item_to_cart(product_id,from_cart_page=0){
        let url = "{%url 'add_item_to_cart' 1 %}"
        url = url.split('/')
        url = url.slice(0,-2).join('/')
        url += `/${product_id}`
        fetch(from_cart_page ? `${url}?from_cart_page=1` : url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            const cart_item_count = document.getElementById('cart_item_count')
            cart_item_count.innerHTML = data.total_qty
            if(from_cart_page){
                const cart_items_container = document.getElementById('cart_items_container')
                let items = ''
                data.cart_items.forEach(item=>{
                    items+=`
                    <div class="flex gap-4 p-2 cart_item items-center">
                        <div class="w-1/4 max-w-[300px] min-w-[130px]">
                            <img src="/media/${item.product_image}" class="w-full" style="aspect-ratio: 1/1;" alt="">
                        </div>
                        <div class="flex flex-col w-full gap-2">
                            <p>${item.product_title}</p>
                            <p>Rs: ${Number(item.product_price).toFixed(2)}</p>
                            <div class="flex w-full md:gap-10 md:justify-start justify-between">
                                <span>Quantity :&nbsp;<span id="${item.product_id}" >${item.qty}</span></span>
                                <span>Rs: ${Number(item.total_price).toFixed(2)}</span>
                            </div>
                            <div class="flex gap-4">
                                <button onclick="add_item_to_cart(${item.product_id},1)" class="text-3xl text-green-500"><i class="fa-solid fa-square-plus"></i></button>
                                <button  onclick="remove_item_from_cart(${item.product_id},1)"  class="text-3xl text-red-500"><i class="fa-solid fa-square-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    `
                })
                cart_items_container.innerHTML = items
            }
        })
    }

    function remove_item_from_cart(product_id,from_cart_page=0){
        let url = "{%url 'remove_item_from_cart' 1 %}"
        url = url.split('/')
        url = url.slice(0,-2).join('/')
        url += `/${product_id}`
        fetch(from_cart_page ? `${url}?from_cart_page=1` : url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            const cart_item_count = document.getElementById('cart_item_count')
            cart_item_count.innerHTML = data.total_qty
            if(from_cart_page){
                const cart_items_container = document.getElementById('cart_items_container')
                let items = ''
                data.cart_items.forEach(item=>{
                    items+=`
                    <div class="flex gap-4 p-2 cart_item items-center">
                        <div class="w-1/4 max-w-[300px] min-w-[130px]">
                            <img src="/media/${item.product_image}" class="w-full" style="aspect-ratio: 1/1;" alt="">
                        </div>
                        <div class="flex flex-col w-full gap-2">
                            <p>${item.product_title}</p>
                            <p>Rs: ${Number(item.product_price).toFixed(2)}</p>
                            <div class="flex w-full md:gap-10 md:justify-start justify-between">
                                <span>Quantity :&nbsp;<span id="${item.product_id}" >${item.qty}</span></span>
                                <span>Rs: ${Number(item.total_price).toFixed(2)}</span>
                            </div>
                            <div class="flex gap-4">
                                <button onclick="add_item_to_cart(${item.product_id},1)" class="text-3xl text-green-500"><i class="fa-solid fa-square-plus"></i></button>
                                <button  onclick="remove_item_from_cart(${item.product_id},1)"  class="text-3xl text-red-500"><i class="fa-solid fa-square-minus"></i></button>
                            </div>
                        </div>
                    </div>
                    `
                })
                cart_items_container.innerHTML = items
            }
        })
    }

    function handle_wishlist(id , from_single_page = 0){
        let url = "{%url 'handle_wishlist' 1 %}"
        url = url.split('/')
        url = url.slice(0,-1).join('/')
        url += `/${id}`
        fetch(url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            if(data.success){
                if(from_single_page==0){
                    const wishlist = document.getElementById(id)
                    if(data.msg==='added'){
                        wishlist.classList.remove('text-gray-300')
                        wishlist.classList.add('text-red-500')
                    }else{
                        wishlist.classList.add('text-gray-300')
                        wishlist.classList.remove('text-red-500')
                    }
                }else{
                    const single_product_wishlist = document.getElementById('single_product_wishlist')
                    if(data.msg==='added'){
                        single_product_wishlist.innerText = 'Remove From Wishlist'
                    }else{
                        single_product_wishlist.innerText = 'Add To Wishlist'
                    }
                }
                
            }
        }).catch(err=>{
            window.location.href='{%url "login"%}'
          
        })
    }
</script>
</html>