<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/main.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            scroll-behavior: smooth;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="max-w-screen relative ">
        <div class="w-full sticky top-0 z-10">
            {% include 'components/navbar.html' %}
            <div class="py-2 px-4 bg-slate-300 w-full divide-x-2 flex overflow-auto">
                {% for category in categories  %}
                    <a href="{%url 'products'%}?category={{category.slug}}" class="
                        px-4
                        {% if request.GET.category == category.slug %}
                             text-green-500
                        {% else %}
                             text-orange-500
                        {% endif %}
                    ">{{category.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="container mx-auto mt-10 px-2">
            {% block main %}{% endblock main %}
        </div>
    </div>
</body>

<script>

    function add_item_to_cart(product_id){
        let url = "{%url 'add_item_to_cart' 1 %}"
        url = url.split('/')
        url = url.slice(0,-1).join('/')
        url += `/${product_id}`
        console.log(url)
        fetch(url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            console.log(data)
            const cart_item_count = document.getElementById('cart_item_count')
            cart_item_count.innerHTML = data.total_qty
        })
    }

    function handle_wishlist(id , from_single_page = 0){
        let url = "{%url 'handle_wishlist' 1 %}"
        url = url.split('/')
        url = url.slice(0,-1).join('/')
        url += `/${id}`
        fetch(url).then(res=>{
            if(res.ok){
                return res.json()
            }else{
                throw new Error(res.status)
            }
        }).then(data=>{
            if(data.success){
                if(from_single_page==0){
                    const wishlist = document.getElementById(id)
                    if(data.msg==='added'){
                        wishlist.classList.remove('text-gray-300')
                        wishlist.classList.add('text-red-500')
                    }else{
                        wishlist.classList.add('text-gray-300')
                        wishlist.classList.remove('text-red-500')
                    }
                }else{
                    const single_product_wishlist = document.getElementById('single_product_wishlist')
                    if(data.msg==='added'){
                        single_product_wishlist.innerText = 'Remove From Wishlist'
                    }else{
                        single_product_wishlist.innerText = 'Add To Wishlist'
                    }
                }
                
            }
        }).catch(err=>{
            console.log(err)
            window.location.href='{%url "login"%}'
          
        })
    }
</script>
</html>