<div class="w-full py-5 px-2 bg-green-500">
    <div class="container mx-auto flex items-center">
        <a href="" class="brand flex-1">DJANGO ECOM</a>
        <ul class="flex gap-4">
            <li class="text-lg text-gray-100 hover:text-white"><a href="{%url 'home'%}">Home</a></li>
            <li class="text-lg text-gray-100 hover:text-white"><a href="{%url 'products'%}">Products</a></li>
            <li class="text-lg text-gray-100 hover:text-white"><a href="">Cart</a></li>
        </ul>
    </div>
</div>