<div class="w-full  h-full flex flex-col py-5 px-2 gap-4 bg-green-500">
    <div class="flex w-full h-full">
        <div class="container h-full mx-auto flex gap-2 md:flex-row flex-col md:items-center">
            <a href="{%url 'home'%}" class="brand text-xl md:flex-1 whitespace-nowrap font-medium text-white">DJANGO ECOM</a>
            <form action="{%url 'products'%}" class="mx-auto  flex justify-end w-full md:hidden">
                <input type="text" name="search" placeholder="Search here ..." class="rounded w-6/12 outline-none py-1 px-2 min-w-[250px] max-w-[500px]">
            </form>
            <ul id="navbar_menu" class="duration-200 transition-height flex md:gap-6 gap-4 font-medium md:flex-row flex-col md:h-11 h-0 md:justify-center md:w-auto w-full overflow-hidden">
                <li class="text-lg text-gray-100 hover:text-white md:mt-0 mt-6"><a href="{%url 'home'%}">Home</a></li>
                <li class="text-lg text-gray-100 hover:text-white"><a href="{%url 'products'%}">Products</a></li>
                {%if not user.is_authenticated%}
                <li class="text-lg text-gray-100 hover:text-white"><a href="{%url 'signup'%}">Signup</a></li>
                <li class="text-lg text-gray-100 hover:text-white"><a href="{%url 'login'%}">Login</a></li>
                {%else%}
                <li class="text-lg  text-gray-100 hover:text-white"><a href="{%url 'show_wishlists'%}">Wishlists</a></li>
                    <li class="text-lg md:block hidden text-gray-100 hover:text-white relative">
                        <a href="{%url 'view_cart'%}"><i class="text-2xl fa-sharp fa-solid fa-cart-shopping"></i>
                            <div class="absolute top-4 left-4 min-h-[25px] min-w-[25px] rounded-full flex justify-center items-center text-sm text-white bg-red-500" id="cart_item_count" >{{total_qty}}</div>
                        </a>
                    </li>
                    <li class="text-lg text-red-500 hover:text-red-600"><a href="{%url 'logout'%}">Logout</a></li>
                {%endif%}
            </ul>
        </div>
        <div class="flex gap-3">
            
            <li class="self-start  md:hidden block text-md text-gray-100 hover:text-white relative">
                <a href="{%url 'view_cart'%}"><i class="text-2xl fa-sharp fa-solid fa-cart-shopping"></i>
                    <div class="absolute top-4 left-4 min-h-[22px] min-w-[22px] rounded-full flex justify-center items-center text-xs text-white bg-red-500" id="cart_item_count" >{{total_qty}}</div>
                </a>
            </li>
            <button id="toggler" class="self-start md:hidden block text-white" onclick="toggle_navbar()" ><i class="text-xl fa-solid fa-bars"></i></button>
        </div>
    </div>
    <form action="{%url 'products'%}" class="mx-auto  md:flex md:justify-end w-full pr-4 hidden">
        <input type="text" name="search" placeholder="Search here ..." class="rounded w-6/12 outline-none py-1 px-2 min-w-[300px] max-w-[500px]">
    </form>
</div>

<script>
    const toggler = document.getElementById('toggler')
    const navbar_menu = document.getElementById('navbar_menu')
    toggler.onclick = () => {
        navbar_menu.classList.toggle('h-[100vh]')
    }

    let prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    const currentScrollPos = window.pageYOffset;
    if(!navbar_menu.classList.contains('h-[100vh]')){
        if (prevScrollpos > currentScrollPos) {
            document.querySelector('#header_wrapper').style.top = '0';
        } else {
            document.querySelector('#header_wrapper').style.top = '-100%';
        }
    }
    prevScrollpos = currentScrollPos;
    }

</script>